{% extends 'base.html' %}

{% block head %}
<title>Change Password</title>
{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="container">
            {% if status == 205 %}
            <div class="alert alert-danger">
                <p class="farsi">رمز عبور با تکرار آن مطابقت ندارد. لطفا دوباره تلاش کنید.</p>
            </div>
            {% endif %}

            <h2>Change Password</h2>
            <p><b>Please enter your new password.</b></p>
            <!-- Change Password Form -->
            <form action="" method="post">
                {% csrf_token %}
                <input type="password" id="new_pass" class="fadeIn third" name="new_pass" placeholder="New Password">
                <input type="password" id="new_pass_rep" class="fadeIn third" name="new_pass_rep" placeholder="Repeat New Password">
                <br>
                <input type="submit" value="Change Password">
            </form>
        </div>
        <br>
    </div>
{% endblock %}