{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="container">
            <div class="container">
                {% if request.user.is_superuser %}
                <h2 class="farsi"><b>پنل دسترسی ادمین</b></h2>
                {% endif %}
                <p class="farsi"><b>{{ request.user.first_name }}</b> خوش آمدید. </p>
                {% if request.user.is_superuser %}
                <p class="farsi">شما میتوانید سوالات آزمون را با فرمت <b>PDF</b>، با استفاده از دگمه‌های زیر انتخاب و ارسال کنید.</p>
                {% else %}
                <p class="farsi">دانشجوی عزیز با استفاده از دگمه‌های زیر فایل پاسخ‌های آزمون خود را بارگزاری و ارسال کنید.</p>
                <p class="farsi"><b>توجه</b>: نام فایل ارسالی را به صورت <b>لاتین و چسبیده</b> انتخاب کنید به طور مثال: Midterm.pdf</p>
                {% endif %}
                {% if questions_uploaded %}
                <p class="farsi"><a style="color: red" href="{% url 'download_question_file' %}" download>دانلود سوالات آزمون</a></p>
                {% endif %}
                {% if request.user.is_superuser %}
                <p class="farsi"><a href="{% url 'zip_and_download' %}">فشرده‌سازی و دریافت لینک تمامی فایل‌ها</a></p>
                {% endif %}
                <p class="farsi"><a href="{% url 'logout' %}">خروج از حساب کاربری</a></p>

<!--                <form action="{% url 'download_question_file' %}">-->
<!--                    <input type="submit" value="Download Questions" />-->
<!--                </form>-->
                {% if request.user.is_superuser %}
                <form action="{% url 'question_upload' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label class="label_for_file_input"></label>
                    <input type="file" name="myfile" class="input_upload" accept="application/pdf" required>
                    <button type="button" class="browse">Browse</button>
                    <button type="submit">Upload</button>
                </form>
                {% else %}
                <form action="{% url 'file_upload' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label class="label_for_file_input"></label>
                    <input type="file" name="myfile" class="input_upload" required>
                    <button type="button" class="browse">Browse</button>
                    <button type="submit">Upload</button>
                </form>
                {% endif %}
            </div>
            <br><br>
            {% if not uploaded_files|length == 0 %}
            <div id="upload_div">
                <h4>Uploaded Files</h4>
                <div class="container">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Upload Date</th>
                                <th>Author</th>
                                <th>File Name</th>
                                <th>File Link</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for file in uploaded_files %}
                            <tr>
                                <td>{{ file.upload_date }}</td>
                                <td>{{ file.author }}</td>
                                <td>{{ file.title }}</td>
                                <td><a href="{{ file.file_path }}" download>{{ file.file_path }}</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endif %}
            <br><br>
        </div>
    </div>
{% endblock %}


