{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="container">
            <div class="container">
                {% if status == 403 %}
                <div class="alert alert-danger">
                    <h3 class="farsi">متاسفانه زمان آزمون به پایان رسیده است.</h3>
                </div>
                {% elif status == 200 %}
                <div class="alert alert-success">
                    <h3 class="farsi">فایل شما با موفقیت آپلود شد.</h3>
                </div>
                {% endif %}

                {% if request.user.is_superuser %}
                <h2 class="farsi"><b>پنل دسترسی ادمین</b></h2>
                {% endif %}
                <p class="farsi"><b>{{ request.user.first_name }}</b> خوش آمدید. </p>
                {% if request.user.is_superuser %}
                <p class="farsi">شما میتوانید سوالات آزمون را با فرمت <b>PDF</b>، با استفاده از دگمه‌های زیر انتخاب و ارسال کنید.</p>
                {% else %}
                <p class="farsi">دانشجوی عزیز با استفاده از دگمه‌های زیر فایل پاسخ‌های آزمون خود را بارگزاری و ارسال کنید.</p>
                <p class="farsi"><b>توجه</b>: نام فایل ارسالی را به صورت <b>لاتین و چسبیده</b> انتخاب کنید به طور مثال: Midterm.pdf</p>
                {% endif %}
                {% if questions_uploaded %}
                <p class="farsi"><a style="color: red" href="{% url 'download_question_file' %}" download>دانلود سوالات آزمون</a></p>
                {% endif %}
                {% if request.user.is_superuser %}
                {% if able_to_download_file_zip_file %}
                <p class="farsi"><a href="{% url 'zip_and_download' %}">فشرده‌سازی و دریافت لینک تمامی فایل‌ها</a></p>
                {% endif %}
                {% endif %}
                <p class="farsi"><a href="{% url 'change_password' %}">تغییر رمز عبور</a></p>
                <p class="farsi"><a href="{% url 'logout' %}">خروج از حساب کاربری</a></p>
                {% if request.user.is_superuser %}
                <form action="{% url 'question_upload' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="text" id="exam_name" name="exam_name" placeholder="Exam Name" required><br>
                    <label for="due_date">Exam Due Date:</label>
                    <input type="datetime-local" id="due_date" name="due_date" required><br><br>
                    <label class="label_for_file_input"></label>
                    <input type="file" name="myfile" class="input_upload" required>
                    <button type="button" class="browse">Browse</button>
                    <button type="submit">Create Exam</button>
                </form>
                {% else %}
                <form action="{% url 'file_upload' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <br>
                    <select name="exam_name" id="exam_name_selector">
                        {% for exam in exams %}
                            <option value="{{ exam.name }}">{{ exam.name }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <label class="label_for_file_input"></label>
                    <input type="file" name="myfile" class="input_upload" required>
                    <button type="button" class="browse">Browse</button>
                    <button type="submit">Upload</button>
                </form>
                {% endif %}
            </div>
            <br><br>
            {% if not uploaded_files|length == 0 %}
            <div id="upload_div">
                <h4>Uploaded Files</h4>
                <div class="container">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Upload Date</th>
                                <th>Exam Name</th>
                                <th>Author</th>
                                <th>File Name</th>
                                <th>File Link</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for file in uploaded_files %}
                            <tr>
                                <td>{{ file.upload_date }}</td>
                                <td>{{ file.exam.name }}</td>
                                <td>{{ file.author }}</td>
                                <td>{{ file.title }}</td>
                                <td><a href="{{ file.file_path }}" download>{{ file.file_path }}</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endif %}
            <br><br>
        </div>
    </div>
{% endblock %}


