{% extends 'base.html' %}

{% block head %}
<title>Login</title>
{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="container">
            {% if login_status == 203 %}
            <div class="alert alert-danger">
                <h3 class="farsi">نام کاربری و رمز عبور مطابقت ندارند. لطفا دوباره تلاش کنید.</h3>
            </div>
            {% elif login_status == 204 %}
            <div class="alert alert-info">
                <h3 class="farsi">رمز عبور شما با موفقیت تغییر کرد. لطفا دوباره با رمز عبور جدید وارد حساب کاربری خود شوید.</h3>
            </div>
            {% endif %}
            <h2>Login</h2>
                {% csrf_token %}
                <!-- Login Form -->
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="text" id="username" class="fadeIn second" name="username" placeholder="Username">
                    <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password">
                    <br>
                    <input type="submit" value="Log In">
                </form>
            </div>
            <br>
    </div>
{% endblock %}